<%= form_with model: @cohort do |form| %>
<div class="container">
 <%= form.label :name %>
 <br> <%= form.text_field :name %><br>
 <%= form.label :start_date %>
 <br> <%= form.date_field :start_date %><br>
 <%= form.label :end_date %>
 <br> <%= form.date_field :end_date %><br>
 <%= form.label :course %>
 <br> <%= form.select :courses_id, options_for_select(@course, @cohort.courses_id) %> <br>
 <%= form.label :instructor %>
 <br> <%= form.select :instructors_id, options_for_select(@instructor, @cohort.instructors_id)  %><br>
 <%= form.submit %>
 </div>
 <% end %>

