<%= form_with model: @student_cohorts do |form| %>
<div class="container">
 <%= form.label :student_id %>
 <%= form.select :student_id, options_for_select(@student, @student_cohorts.student_id) %><br>
 <%= form.label :cohort_id %>
 <%= form.select :cohort_id, options_for_select(@cohort, @student_cohorts.cohort_id) %><br>
 <%= form.submit %>
 </div>
 <% end %>
