<%= form_with model: @course do |form| %>
<div class='container'>
<%= form.label :name %><br>
<%= form.text_field :name %><br>
<%= form.label :in_class_hours %><br>
<%= form.number_field :in_class_hours %><br>
<%= form.submit %>
</div>
<% end %>
